---
import {basics } from '@cv';
import Section from "../Section.astro";

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location
---

<Section  title="Hero">
   <div class="container">
      <div class="info">
         <h1>{name}</h1>
         <h2>{label}</h2>
         <span>
            <!-- robar icono -->
            
            {city}, {region}
         </span>
         <footer>
            {
               email && (
                  <a href={`mailto:${email}`}
                  title={`Enviar un correo electrónico a ${name} al correo ${email}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  >
               🤞 <!-- robar icono -->
                  </a>
               )
            }
         </footer>
      </div>
      <figure>
         <img src={image} alt={name} />
      </figure>
   </div>
</Section>

<style>

</style>
